<h1>Funcionários</h1>
<%= link_to 'Cadastro novo funcionário', new_person_path %> <br>
<ul>
<% @people.each do |person| %>
<li>
  <%= person.email %>
  <%= link_to 'ver funcionario', person_path(person) %>
</li>
<% end %>
</ul>
