<h2 class="titulo">Funcionário: <%= @person.email %></h2>
<%= link_to 'Funcionarios', controller: 'people' %>


<p>
  <strong>ppd:</strong>
  <%= @person.ppd %>
</p>
<%= link_to 'Voltar', people_path %>
